<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Webpage Details</h1>
        <table border="2px">
            <tr>
                <th>Topic_name</th>
                <th>Name</th>
                <th>URl</th>
            </tr>
            {% for w in webpages %}
                <tr>
                    <td>{{w.topic_name}}</td>
                    <td>{{w.name}}</td>
                    <td>{{w.url}}</td>

                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>